NODE_ENV=development
PORT=4000
PORT_EXPOSE=4000
HAS_PROXY=true

CORS_ORIGINS=*

CLUSTER=false
CLUSTER_WORKERS=

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=
DB_CHARSET=utf8mb4
DB_DATE_STRING=true
DB_POOL_MIN=2
DB_POOL_MAX=10
DB_SSL=false
DB_SSL_CA=
DB_SSL_CERT=
DB_SSL_KEY=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASS=
REDIS_TLS=false
REDIS_TLS_CA=
REDIS_TLS_CERT=
REDIS_TLS_KEY=

SENDGRID_API_KEY=

JWT_TFA=true
JWT_SECRET=
JWT_EXPIRATION_DAYS=60

BCRYPT_SALT_ROUND=12
BCRYPT_SECRET=

CRYPT0_SECRET=
CRYPT0_CIPHER=aes-256-gcm
CRYPTO_IV=16